* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 5px;
}

body{
    background-color: #201F23;
}

.header-text{
    color: #BEF4F9;
    text-align: center;
    padding: 30px 0;
    
}
.header-text p {
    font-style: italic;
}

.form {
   display: grid;
}

.form #submit {
    padding: 10px;
    width: 25%;
    background: #6562fc;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    margin-top: 15px;
    border-radius: 6px;
}
.form #loginPassword, .form #loginUsername {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    color: white;
    font-size: 16px;
    background-color: #313033;
    border-radius: 6px;
}

.create-acc{
    text-align: center;
    color: blue;
    margin-top: 10px;
}

#left {
    width: 50%; float: left; padding: 25px;
}

#right {
    width: 50%; float: right; padding: 25px;
}

.create-acc a {
    text-decoration: none;
    color: white;
}