body {
    font-family: sans-serif;
    margin: 0;
    min-width: 250px;
    background-color: #201F23;
}

* {
    box-sizing: border-box;
}

.userOptions{
    background-color: #3d3c40;
    height: 50px;
    margin-bottom: 50px;
}

.loggedUser{
    color: white;
    line-height: 3;
    margin-left: 30px;
}
#btnDelete{
    /*position: absolute;*/
    left: 40%;
    transform: translate(-50deg, -50deg);
    padding: 10px;
    width: 10%;
    background: red;
    color: white;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
    border-radius: 6px;
}

#btnLogOut{
    left: 40%;
    transform: translate(-50deg, -50deg);
    padding: 10px;
    width: 10%;
    background: #6562fc;
    color: white;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
    border-radius: 6px; 
}

#btnDelete:hover, #btnLogOut:hover {
    background-color: #bbb;
}
@media screen and (max-width: 600px){
    
    .loggedUser{
        color: white;
        line-height: 4;
        margin-left: 4px;
        font-size: 13px;
    }
    #btnLogOut{
        padding: 10x;
        width: 20%;
        font-size: 13px;
        margin-top: 7px;
        
    }
    #btnUpdate{
        width: 20%;
        font-size: 13px;
        margin-top: 7px;
    }
    #btnDelete{
        width: 20%;
        font-size: 13px;
        margin-top: 7px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    /*cursor: pointer;*/
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #3C3B41;
    font-size: 14px;
    color: #999999;
    margin: 1px 40px;
    transition: 0.2s;
    border-radius: 6px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #3C3B41;
}



.header {
    margin: 10px;
    border-radius: 6px;
    background-color: #3d3c40;
    padding: 30px 40px;
    color: white;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    color: white;
    font-size: 16px;
    background-color: #313033;
    border-radius: 6px;
}

#btnDelTask{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    color: white;
    font-size: 16px;
    background-color: #313033;
    border-radius: 6px;

}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #6562fc;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    margin-top: 15px;
    border-radius: 6px;
}

.addBtn:hover {
    background-color: #bbb;
}

@media screen and (max-width: 600px){
    .addBtn {
        width: 100%;
    }
}


.actions {
    background-color: red;
    width: 100%;
    height: auto;
}

#delete{
    position: relative;
    padding-top: 50px;
}
.deleteTask-div{
    margin-bottom: 100px;
}

.title{
    padding: 50px 0px;
}

@media screen and (max-width: 600px){
    .title{
        padding: 25px 0px;
        font-size: 18px;
    }
}